{# vi: set ft=jinja: #}
{% import_yaml "proxmox/defaults.yaml" as defaults %}

{% set os_family_map = salt['grains.filter_by']({
    'Debian': {},
  }, grain='os_family', merge=salt['pillar.get']('proxmox:lookup')) 
%}
{% do defaults.proxmox.update(os_family_map) %}

{% set pkg = salt['pillar.get']('proxmox:lookup', default={}, merge=True) %}
{% do defaults.proxmox.update(pkg) %}

{% set proxmox = salt['pillar.get']('proxmox', default=defaults['proxmox'], merge=True) %}
